@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif";
}

.inputBtn {
  @apply bg-red-400 border-white hover:border-2 hover:border-white hover:bg-red-400 btn btn-circle hover:ring-2 ring-red-400;
}

.uploadBtn {
  @apply bg-red-400 border-white hover:border-2 hover:border-white hover:bg-red-400 btn font-sans tracking-wider hover:ring-2 ring-red-400;
}
